/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}




/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Bulma theming defaults
  =========================================================================== */

html,
body {
  background: #EFF3F4;
  font-family: 'Open Sans', serif;
}
.content h2,
.content h4 {
  color: white;
}
/* #Misc */
.scroll {
  overflow-y: auto;
  margin: 0 -10px;
}
.scroll-thin::-webkit-scrollbar {
  width: 10px;
}

.scroll-thin::-webkit-scrollbar-thumb {
    background: #C39F3B;
}
.scroll-thin::-webkit-scrollbar-track {
    background: #0C6A60;
}
#services>img#logo-img {
    height: 70px;
    width: auto;
    margin: auto;
}

.terms h1,
.terms h2,
.terms h3,
.terms h4 {
  color: #363636;
  font-weight: 600;
  line-height: 1;
  margin: 10px auto;
}
.terms h2 {
  font-size: 1.2rem;
}
.terms h4 {
  font-size: 0.7rem;
  font-weight: bold;
}

ol.toc {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-list {
  line-height: 1.25;
  list-style: circle;
  list-style-position: inside;
  list-style-type: unset;
}
.menu-list li ul {
  border-left: none;
}
#home section.hero.header {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wills section.hero.header {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pot section.hero.header {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#iht section.hero.header {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#remember {
  background-color: whitesmoke;
  font-size: larger;
  color: #363636;
  
}
#terms .hero-head,
#privacy .hero-head {
    min-height: 200px;
    background-color: #0C6A60;
}
#terms .hero-head .navbar,
#privacy .hero-head .navbar {
    background-color: #0C6A60;
}
#privacy a.navbar-item.is-active, #privacy a.navbar-link.is-active
#terms a.navbar-item.is-active, #terms a.navbar-link.is-active{
    color: whitesmoke;
}
#privacy .navbar-item, 
#privacy .navbar-link,
#terms .navbar-item, 
#terms .navbar-link {
    color: whitesmoke;
}

#privacy a.navbar-item:hover,
#privacy a.navbar-item.is-active,
#privacy a.navbar-link:hover,
#privacy a.navbar-link.is-active
#terms a.navbar-item:hover,
#terms a.navbar-item.is-active,
#terms a.navbar-link:hover,
#terms a.navbar-link.is-active {
  color: #C39F3B;
}

section.hero a.navbar-item {
  color: white;
}

.hero-body .container {
  max-width: 700px;
}

.hero-body .title {
  color: hsl(192, 17%, 99%) !important;
}

.hero-body .subtitle {
  color: hsl(192, 17%, 99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}

.level.box.cta {
  height: 10vh;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.level.box.cta>.level-item {
  margin-right: inherit;
}

.features {
  padding: 5rem 0;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.terms {
  padding-bottom: 40px;
}
.card-image>.fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}

.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.intro {
  padding: 5rem 0;
  text-align: center;
}

.sandbox {
  padding: 5rem 0;
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.bg-green {
  background-color: #197c4d;
}

.is-bottom-marginless {
  margin-bottom: 12px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.lead {
  font-size: initial;
  line-height: initial;
}

#split-panel>.columns {
  margin-right: initial;
}

#home #split-panel .columns .column.is-4 {
  background: url(../img/bg1.jpg) no-repeat center center local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wills #split-panel .columns .column.is-4 {
  background: url(../img/bg2.jpg) no-repeat left bottom local;
  -webkit-background-size: 240%;
  -moz-background-size: 240%;
  -o-background-size: 240%;
  background-size: 240%;
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#iht #split-panel .columns .column.is-4 {
  background: url(../img/bg4.jpg) no-repeat -370px center local;
  -webkit-background-size: 240%;
  -moz-background-size: 240%;
  -o-background-size: 240%;
  background-size: 240%;
}

.bg-yellow {
  background-color: #C39F3B;
}

#services .info,
#services .counter {
  color: #0C6A60;
  font-size: x-large;
  font-weight: 600;
}

section.vh90 {
  height: auto;
}

section.vh100 {
  height: 100vh;
}

#navbarMenu,
#services {
  background-color: #0c6a60;
}

.navbar-burger {
  color: #C39F3B;
}

section.hero a.navbar-item {
  color: #C39F3B;
}
section.hero a.navbar-item:hover {
    color: whitesmoke;
}
a.navbar-item.is-active {
  background-color: #0c6a60;
  font-weight: bold;
}

a.navbar-item:hover,
a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
  background-color: transparent;
}

.navbar-item img#logo-img {
  max-height: 4rem;
}

.footer {
  background-color: #0C6A60;
  color: #ffffff;
  padding-bottom: 20px;
}

footer>.container .sub-footer {
  align-items: flex-end;
}

.footer a {
  color: #C39F3B;
}

footer h4.subtitle {
  color: white;
}

 img.address.image {
    text-align: center;
    margin: 0 auto;
    left: -50px;
    width: 60%;
}

/* ==========================================================================
   Button styles
   ========================================================================== */

.btn.basic {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #37E38B;
  font-size: 20px;
  background: #EFF5F2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn.basic:hover {
  background: #37E38B;
  color: #EFF5F2;
  text-decoration: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  .level.box.cta {
    flex-direction: row;
  }
  .address.image {
  width: 200px;
  position: relative;
  left: -50px;
  top: -15px;
}
}

@media only screen and (min-width: 1200px) {
  /* Style adjustments for viewports that meet the condition */
  #navbarMenu {
    background-color: transparent;
    padding: 20px;
  }
  #home section.hero.header {
    height: 90vh;
  }

  .hero-body {
    padding: 3rem 1.5rem;
  }
  .lead {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  section.vh90 {
    height: 90vh;
  }
  section.vh100 {
    height: 100vh;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}